# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.camera_response import CameraResponse
from ..types.get_save_info_response import GetSaveInfoResponse
from ..types.lut_import_response import LutImportResponse
from ..types.settings_file_list_response import SettingsFileListResponse
from .raw_client import AsyncRawSettingsClient, RawSettingsClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class SettingsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawSettingsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawSettingsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawSettingsClient
        """
        return self._raw_client

    def get_save_info(
        self, camera_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GetSaveInfoResponse:
        """
        Returns the current save directory, filename prefix, and start number for auto-transferred images.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetSaveInfoResponse
            Save info retrieved

        Examples
        --------
        from alpha_sdk_client import AlphaSDKClient

        client = AlphaSDKClient()
        client.settings.get_save_info(
            camera_id="cameraId",
        )
        """
        _response = self._raw_client.get_save_info(camera_id, request_options=request_options)
        return _response.data

    def set_save_info(
        self,
        camera_id: str,
        *,
        path: typing.Optional[str] = OMIT,
        prefix: typing.Optional[str] = OMIT,
        start_no: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CameraResponse:
        """
        Configure the save directory, filename prefix, and start number.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        path : typing.Optional[str]
            Directory path on host PC

        prefix : typing.Optional[str]
            Filename prefix

        start_no : typing.Optional[int]
            Starting file number

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CameraResponse
            Save info set

        Examples
        --------
        from alpha_sdk_client import AlphaSDKClient

        client = AlphaSDKClient()
        client.settings.set_save_info(
            camera_id="cameraId",
        )
        """
        _response = self._raw_client.set_save_info(
            camera_id, path=path, prefix=prefix, start_no=start_no, request_options=request_options
        )
        return _response.data

    def download(
        self,
        camera_id: str,
        *,
        filename: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CameraResponse:
        """
        Download the camera's current settings to a file on the host PC.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        filename : typing.Optional[str]
            Settings filename (e.g. `CUMSET.DAT`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CameraResponse
            Settings file saved

        Examples
        --------
        from alpha_sdk_client import AlphaSDKClient

        client = AlphaSDKClient()
        client.settings.download(
            camera_id="cameraId",
        )
        """
        _response = self._raw_client.download(camera_id, filename=filename, request_options=request_options)
        return _response.data

    def upload(
        self,
        camera_id: str,
        *,
        filename: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CameraResponse:
        """
        Upload a previously saved settings file back to the camera.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        filename : typing.Optional[str]
            Settings filename (e.g. `CUMSET.DAT`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CameraResponse
            Settings uploaded to camera

        Examples
        --------
        from alpha_sdk_client import AlphaSDKClient

        client = AlphaSDKClient()
        client.settings.upload(
            camera_id="cameraId",
        )
        """
        _response = self._raw_client.upload(camera_id, filename=filename, request_options=request_options)
        return _response.data

    def list_files(
        self, camera_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> SettingsFileListResponse:
        """
        Lists camera settings files (`*.DAT`) previously saved to the host PC via `downloadCameraSettings`.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SettingsFileListResponse
            Settings file list

        Examples
        --------
        from alpha_sdk_client import AlphaSDKClient

        client = AlphaSDKClient()
        client.settings.list_files(
            camera_id="cameraId",
        )
        """
        _response = self._raw_client.list_files(camera_id, request_options=request_options)
        return _response.data

    def import_lut(
        self,
        camera_id: str,
        *,
        file_path: str,
        slot: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> LutImportResponse:
        """
        Initiates an async import of a `.cube` LUT file from the host filesystem
        into one of the camera's user LUT slots (1–16). CineEI / cinema bodies only.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        file_path : str
            Absolute or working-directory-relative path to a `.cube` file on the host

        slot : typing.Optional[int]
            Camera user LUT slot to import into

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        LutImportResponse
            LUT import accepted (async)

        Examples
        --------
        from alpha_sdk_client import AlphaSDKClient

        client = AlphaSDKClient()
        client.settings.import_lut(
            camera_id="cameraId",
            file_path="/Users/me/luts/example.cube",
        )
        """
        _response = self._raw_client.import_lut(
            camera_id, file_path=file_path, slot=slot, request_options=request_options
        )
        return _response.data


class AsyncSettingsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawSettingsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawSettingsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawSettingsClient
        """
        return self._raw_client

    async def get_save_info(
        self, camera_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GetSaveInfoResponse:
        """
        Returns the current save directory, filename prefix, and start number for auto-transferred images.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetSaveInfoResponse
            Save info retrieved

        Examples
        --------
        import asyncio

        from alpha_sdk_client import AsyncAlphaSDKClient

        client = AsyncAlphaSDKClient()


        async def main() -> None:
            await client.settings.get_save_info(
                camera_id="cameraId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_save_info(camera_id, request_options=request_options)
        return _response.data

    async def set_save_info(
        self,
        camera_id: str,
        *,
        path: typing.Optional[str] = OMIT,
        prefix: typing.Optional[str] = OMIT,
        start_no: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CameraResponse:
        """
        Configure the save directory, filename prefix, and start number.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        path : typing.Optional[str]
            Directory path on host PC

        prefix : typing.Optional[str]
            Filename prefix

        start_no : typing.Optional[int]
            Starting file number

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CameraResponse
            Save info set

        Examples
        --------
        import asyncio

        from alpha_sdk_client import AsyncAlphaSDKClient

        client = AsyncAlphaSDKClient()


        async def main() -> None:
            await client.settings.set_save_info(
                camera_id="cameraId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.set_save_info(
            camera_id, path=path, prefix=prefix, start_no=start_no, request_options=request_options
        )
        return _response.data

    async def download(
        self,
        camera_id: str,
        *,
        filename: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CameraResponse:
        """
        Download the camera's current settings to a file on the host PC.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        filename : typing.Optional[str]
            Settings filename (e.g. `CUMSET.DAT`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CameraResponse
            Settings file saved

        Examples
        --------
        import asyncio

        from alpha_sdk_client import AsyncAlphaSDKClient

        client = AsyncAlphaSDKClient()


        async def main() -> None:
            await client.settings.download(
                camera_id="cameraId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.download(camera_id, filename=filename, request_options=request_options)
        return _response.data

    async def upload(
        self,
        camera_id: str,
        *,
        filename: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CameraResponse:
        """
        Upload a previously saved settings file back to the camera.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        filename : typing.Optional[str]
            Settings filename (e.g. `CUMSET.DAT`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CameraResponse
            Settings uploaded to camera

        Examples
        --------
        import asyncio

        from alpha_sdk_client import AsyncAlphaSDKClient

        client = AsyncAlphaSDKClient()


        async def main() -> None:
            await client.settings.upload(
                camera_id="cameraId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.upload(camera_id, filename=filename, request_options=request_options)
        return _response.data

    async def list_files(
        self, camera_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> SettingsFileListResponse:
        """
        Lists camera settings files (`*.DAT`) previously saved to the host PC via `downloadCameraSettings`.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SettingsFileListResponse
            Settings file list

        Examples
        --------
        import asyncio

        from alpha_sdk_client import AsyncAlphaSDKClient

        client = AsyncAlphaSDKClient()


        async def main() -> None:
            await client.settings.list_files(
                camera_id="cameraId",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_files(camera_id, request_options=request_options)
        return _response.data

    async def import_lut(
        self,
        camera_id: str,
        *,
        file_path: str,
        slot: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> LutImportResponse:
        """
        Initiates an async import of a `.cube` LUT file from the host filesystem
        into one of the camera's user LUT slots (1–16). CineEI / cinema bodies only.

        Parameters
        ----------
        camera_id : str
            Camera identifier (e.g. `D10F60149B0C`)

        file_path : str
            Absolute or working-directory-relative path to a `.cube` file on the host

        slot : typing.Optional[int]
            Camera user LUT slot to import into

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        LutImportResponse
            LUT import accepted (async)

        Examples
        --------
        import asyncio

        from alpha_sdk_client import AsyncAlphaSDKClient

        client = AsyncAlphaSDKClient()


        async def main() -> None:
            await client.settings.import_lut(
                camera_id="cameraId",
                file_path="/Users/me/luts/example.cube",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.import_lut(
            camera_id, file_path=file_path, slot=slot, request_options=request_options
        )
        return _response.data
